<!-- studio/_part/nav/logo -->

<a href="studio" class="logo" title="Studio">
    <span class="logo-mini"><b>S</b></span>
    <span class="logo-lg"><%- _module.app.getTitle() %>.<b data-t="">Studio</b></span>
</a>