<!-- studio/_part/nav/meta -->
<div class="nav-block">
  <button type="button" class="nav-btn-dark nav-btn btn" data-bs-toggle="dropdown">
    <span data-t="">Meta</span>
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#" data-jam="FrameUserAction" data-url="studio/export/meta">
      <span data-t="">Export</span>
    </a>
    <a class="dropdown-item" href="#" data-jam="PostUserAction" data-url="studio/default/reload">
      <span data-t="">Reload</span>
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#" data-jam="FrameUserAction"
       data-url="studio/import/meta"
       data-reload="true">
      <span data-t="">Import</span>
    </a>
    <a class="dropdown-item" href="#" data-jam="PostUserAction"
       data-url="studio/default/drop-all"
       data-confirm="Delete all studio data?"
       data-confirm-method="confirmDeletion"
       data-reload="true">
      <span data-t="">Clear</span>
    </a>
  </div>
</div>