<!-- studio/_part/nav/sideMenu -->
<div class="nav-tree" data-jam="NavTree">

  <div class="nav-item">
    <a href="studio/class" class="nav-link">
      <span data-t="">Classes</span>
    </a>
  </div>

  <div class="nav-item">
    <a href="studio/class-attr" class="nav-link">
      <span data-t="">Class attributes</span>
    </a>
  </div>

  <div class="nav-item">
    <a href="studio/class-group" class="nav-link">
      <span data-t="">Class groups</span>
    </a>
  </div>

  <div class="nav-divider"></div>

  <div class="nav-item">
    <a href="studio/view" class="nav-link">
      <span data-t="">Views</span>
    </a>
  </div>

  <div class="nav-item">
    <a href="studio/view-attr" class="nav-link">
      <span data-t="">View attributes</span>
    </a>
  </div>

  <div class="nav-item">
    <a href="studio/view-group" class="nav-link">
      <span data-t="">View groups</span>
    </a>
  </div>

  <div class="nav-divider"></div>

  <div class="nav-item">
    <a href="studio/enum-item" class="nav-link">
      <span data-t="">Enumerations</span>
    </a>
  </div>

  <div class="nav-item">
    <a href="studio/state" class="nav-link">
      <span data-t="">States</span>
    </a>
  </div>

  <div class="nav-item">
    <a href="studio/transition" class="nav-link">
      <span data-t="">Transitions</span>
    </a>
  </div>

  <div class="nav-divider"></div>

  <div class="nav-item">
    <a href="studio/section" class="nav-link">
      <span data-t="">Navigation sections</span>
    </a>
  </div>

  <div class="nav-item">
    <a href="studio/node" class="nav-link">
      <span data-t="">Navigation nodes</span>
    </a>
  </div>

  <% if (_module.app.getModule('report')) { %>
  <div class="nav-divider"></div>
  <div class="nav-item">
    <a href="studio/report" class="nav-link">
      <span data-t="">Reports</span>
    </a>
  </div>
  <% } %>

  <div class="nav-divider" hidden></div>
  <div class="nav-item" hidden>
    <a href="studio/diagram/classes" class="nav-link">
      <span data-t="">Class diagram</span>
    </a>
  </div>
</div>