<% block('title', title) %>

<% layout(_view.get('_layout/modal/form'), {
    params: {closeConfirmation: false}
}) %>

<% if (typeof alert !== 'undefined') { %>
<div class="alert-warning alert light" data-t=""><%- alert %></div>
<% } %>

<%- include(_view.get('_part/attr/metaLocation'), {
    attr: 'source'
}) %>