<%
layout(_view.get('_layout/frame/form'), {
    params: {closeConfirmation: false}
});
block('title', title);
%>

<% if (typeof alert !== 'undefined') { %>
<div class="alert-warning alert" data-t=""><%- alert %></div>
<% } %>

<%- include(_view.get('_part/attr/metaLocation'), {
    attr: 'source'
}) %>