
.form-override {
    position: relative;
    margin-bottom: 20px;
}
.form-override:last-child,
.form-override .form-group {
    margin-bottom: 0;
}
.form-override .form-override-target > div {
    padding-right: 40px;
}
.form-override-toggle {
    position: absolute;
    margin: 0;
    right: 7px;
    top: 0;
}
.form-override-toggle > div {
    width:auto;
    margin:0;
    padding: 0;
}
.form-override-toggle .checkbox {
    padding-top: 4px;
}

.message .error-message {
    color: #a20;
    margin-top: 5px;
}
.meta-location .btn-group {
    margin-top: 15px;
}
.meta-location .form-control {
    background: #fffcf4;
}

/* DIAGRAM */

.diagram {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    user-select: none;
}
.diagram-content {
    position: relative;
    overflow: visible;
}
.diagram-block {
    position: absolute;
    padding: 10px;
    background: #fff;
    border: 1px solid #000;
}
.diagram-block.draggable {
    cursor: move;
}
.diagram-block.active {
    background: #ff0;
}