<!-- studio/_part/tool/clone -->
<button class="btn-outline-success btn" title="Clone" type="button"
        data-command="executeUrl"
        data-url="<%- _url(url) %>"
        data-selection="true">
    <i class="far fa-clone"></i>
</button>