
<% if (model.get('parent')) { %>
<button data-command="cloneFromParent" data-select="<%- _url(select) %>" data-clone="<%- _url(clone) %>"
        title="<%= title %>" class="btn btn-success btn-light" type="button">
    <span class="fa fa-sitemap"></span>
</button>
<% } %>