<!-- studio/_part/tool/clone -->
<button data-command="executeUrl" data-url="<%- _url(url) %>" data-selection="true"
        title="Clone" class="btn btn-success btn-light" type="button" >
    <span class="far fa-clone"></span>
</button>