<!-- studio/_part/tool/createByUrl -->
<button data-command="executeUrl" data-url="<%- _url(url) %>" data-index="20" title="<%- title %>"
        class="btn-outline-success btn" type="button" >
    <i class="fas fa-plus"></i>
</button>