<!-- studio/_part/tool/import -->
<button data-jam="ModalUserAction" class="btn btn-info btn-light" type="button" title="<%= hint %>"
        data-url="<%- _url(url) %>" data-reload="true">
    <span class="glyphicon glyphicon-import"></span>
</button>