<!-- studio/_part/tool/import -->
<button data-jam="FrameUserAction" class="btn-outline-primary btn" type="button" title="<%= hint %>"
        data-url="<%- _url(url) %>" data-reload="true">
    <i class="fas fa-download"></i>
</button>