<!-- studio/_part/tool/inherit -->
<button data-command="executeUrl" data-url="<%- _url(url) %>" data-selection="true"
        title="Inherit" class="btn btn-white btn-light" type="button" >
    <span class="fa fa-sitemap"></span>
</button>