<!-- studio/_part/tool/inherit -->
<button data-command="executeUrl" data-url="<%- _url(url) %>" data-selection="true"
    title="Inherit" class="btn-white btn-outline-secondary btn" type="button" >
  <i class="fa fa-sitemap"></i>
</button>