<!-- studio/_part/tool/modelExport -->
<button data-jam="FrameUserAction"
    data-need-save-changes="Save changes first"
    data-url="<%- url %>"
    title="Export" class="btn-outline-primary btn" type="button">
  <i class="fas fa-external-link-alt"></i>
</button>