<!-- studio/_part/tool/selectAndClone -->
<button data-command="selectAndClone" data-select="<%- _url(select) %>" data-clone="<%- _url(clone) %>"
        title="<%= title %>" class="btn btn-success btn-light" type="button">
    <span class="<%- icon %>"></span>
</button>