<!-- studio/_part/tool/updateIndexes -->
<button data-action="post" data-url="studio/default/update-indexes" data-confirm="Update indexes?"
        title="Update indexes" class="btn btn-warning btn-light">
    <span class="glyphicon glyphicon-retweet"></span>
    <span class="fa fa-spinner fa-spin loader"></span>
</button>