<!-- studio/_part/tool/updateReportIndexes -->
<button class="btn-outline-primary btn" title="Update indexes"
        data-action="post"
        data-url="meta/update-report-indexes?report=<%- model.get('name') %>"
        data-confirm="Update report indexes?">
    <i class="fas fa-retweet"></i>
    <i class="fa fa-spinner fa-spin loader"></i>
</button>