<!-- studio/_part/tool/updateClassIndexes -->
<button data-action="post" data-url="meta/update-class-indexes?class=<%- model.get('name') %>"
        data-confirm="Update class indexes?"
        title="Update indexes" class="btn btn-warning btn-light">
    <span class="glyphicon glyphicon-retweet"></span>
    <span class="fa fa-spinner fa-spin loader"></span>
</button>