<!-- studio/_part/tool/updateClassIndexes -->
<button data-action="post" data-url="meta/update-class-indexes?class=<%- model.get('name') %>"
    data-confirm="Update class indexes?"
    title="Update indexes" class="btn-outline-primary btn">
  <i class="fas fa-retweet"></i>
  <i class="fa fa-spinner fa-spin loader"></i>
</button>