<!-- studio/_part/tool/updateIndexes -->
<button class="btn-outline-primary btn" title="Update indexes"
        data-action="post"
        data-url="studio/default/update-indexes"
        data-confirm="Update indexes?">
    <i class="fas fa-retweet"></i>
    <i class="fa fa-spinner fa-spin loader"></i>
</button>