<!-- studio/_part/tool/updateReportIndexes -->
<button data-action="post" data-url="meta/update-report-indexes?report=<%- model.get('name') %>"
        data-confirm="Update report indexes?"
        title="Update indexes" class="btn btn-warning btn-light">
    <span class="glyphicon glyphicon-retweet"></span>
    <span class="fa fa-spinner fa-spin loader"></span>
</button>