<% layout(_view.get('_layout/content')) %>

<% block('title', 'Создание приложения') %>

<div class="folder panel-default panel">
    <div class="panel-body">
        <p>
            В модуле "Студия" создаются метаданные, то есть сущности приложения и связи между ними.
            <br>
            Например, приложение "Блог" состоит
            из классов "Статья", "Категория", "Комментарий" и других.
        </p>
        <p>
            Созданные сущности находятся в отдельном хранилище.
            Чтобы данные попали в приложение необходимо экспортировать их в директорию <b>metadata/app</b>.
        </p>
    </div>
</div>

<div class="folder panel-default panel">
    <div class="panel-heading">
        <h4 class="panel-title">Атрибут класса</h4>
    </div>
    <div class="panel-body">
        <p>
            Атрибут описывает отдельный элемент класса.
            <br>
            Например, класс "Статья" состоит из атрибутов
            "Заголовок", "Содержание", "Дата создания" и других.
        </p>
        <p>
            Каждый атрибут имеет определенный тип, который зависит от хранимых в нем данных.
            <br>
            Например, атрибут "Заголовок" имеет тип "Строка",
            атрибут "Содержание" имеет тип "Текст".
        </p>
    </div>
</div>

<div class="folder panel-default panel">
    <div class="panel-heading">
        <h4 class="panel-title">Отношения классов</h4>
    </div>
    <div class="panel-body">
        <p>
            Типы атрибутов "Ссылочный" и "Обратная ссылка" определяют связь между классами.
            Параметры связи устанавливаются на вкладке "Отношение".
            <br>
            Тип "Ссылочный" хранит ссылку непосредственно в объекте класса.
            Например, комментарий имеет ссылку на статью, к которой он относится.
        </p>
        <p>
            Тип "Обратная ссылка" наоборот, извлекает данные связи из объекта ссылочного класса.
            <br>
            Например, комментарии для статьи извлекаются по обратной ссылке,
            потому что каждый комментарий хранит в себе идентификатор статьи.
            В самой статье никаких данных о комментариях не хранится.
        </p>
        <p>
            Связь может быть множественной или одиночной.
            <br>
            Ссылка на статью в комментарии - это пример одиночной связи.
            Ссылка на комментарии в статье - это пример множественной связи.
        </p>
    </div>
</div>

<div class="folder panel-default panel">
    <div class="panel-heading">
        <h4 class="panel-title">Представление класса</h4>
    </div>
    <div class="panel-body">
        <p>
            Представление переопределяет параметры класса для конкретных случаев использования.
            <br>
            Например, при отображении объектов в списке могут быть показаны только избранные атрибуты.
        </p>
        <p>
            Кодовое имя "list" используется для представления объектов в списке.
            <br>
            Кодовое имя "create" используется для представления объекта при создании.
            <br>
            Кодовое имя "edit" используется для представления объекта при редактировании.
            <br>
            Кодовое имя "eager" используется для представления объекта при жадной загрузке.
        </p>
    </div>
</div>

<div class="folder panel-default panel">
    <div class="panel-heading">
        <h4 class="panel-title">Навигация</h4>
    </div>
    <div class="panel-body">
        <p>
            Меню в боковой панели модуля "Офис" создается из секции навигации с кодовым именем "main".
        </p>
    </div>
</div>