<% layout(_view.get('_layout/content')) %>

<% block('title', 'Создание приложения') %>

<div class="folder panel-default panel">
    <div class="panel-heading">
        <h4 class="panel-title">Краткий обзор</h4>
    </div>
    <div class="panel-body">
        <p>
            В Студии создаются метаданные, описывающие структуру приложения.
            <br>
            Например, приложение <b>Блог</b> состоит
            из классов <b>Статья</b>, <b>Категория</b>, <b>Комментарий</b> и других.
        </p>
        <p>
            Созданные в Студии данные находятся в отдельном хранилище.
            Чтобы данные попали в приложение необходимо экспортировать их в директорию <b>metadata/app</b>.
            <br>
            Экспорт данных можно сделать в другое место,
            но приложение загружается только из директории <b>metadata/app</b>.
        </p>
    </div>
</div>

<div class="folder panel-default panel">
    <div class="panel-heading">
        <h4 class="panel-title">Атрибут класса</h4>
    </div>
    <div class="panel-body">
        <p>
            Атрибут описывает отдельный элемент класса.
            <br>
            Например, класс <b>Статья</b> состоит из атрибутов
            <b>Заголовок</b>, <b>Содержание</b>, <b>Дата</b> и других.
        </p>
        <p>
            Каждый атрибут имеет определенный тип, который зависит от хранимых в нем данных.
            <br>
            Например, атрибут <b>Заголовок</b> имеет тип <b>Строка</b>,
            атрибут <b>Создано</b> имеет тип <b>Дата</b>.
        </p>
    </div>
</div>

<div class="folder panel-default panel">
    <div class="panel-heading">
        <h4 class="panel-title">Отношения классов</h4>
    </div>
    <div class="panel-body">
        <p>
            Типы атрибутов <b>Ссылочный</b> и <b>Обратная ссылка</b> определяют связь между классами.
            Параметры связи устанавливаются на вкладке <b>Отношение</b>.
            <br>
            Например, класс <b>Статья</b> имеет связь с классом <b>Категория</b>,
            потому что каждая статья может быть размещена в любой категории.
        </p>
        <p>
            Тип <b>Ссылочный</b> хранит данные связи непосредственно в объекте класса.
            <br>
            Тип <b>Обратная ссылка</b> извлекает данные из объекта связанного класса.
            <br>
            Например, комментарии для статьи извлекаются по обратной ссылке,
            потому что каждый комментарий хранит в себе идентификатор статьи.
        </p>
        <p>
            Связь может быть множественной или одиночной.
            <br>
            Комментарии в классе <b>Статья</b> - это примеры множественной связи.
            Статья в классе <b>Комментарий</b> - это пример одиночной связи.
        </p>
    </div>
</div>

<div class="folder panel-default panel">
    <div class="panel-heading">
        <h4 class="panel-title">Представление класса</h4>
    </div>
    <div class="panel-body">
        <p>
            Представление переопределяет параметры класса для конкретных случаев использования.
            <br>
            Например при отображении объектов класса в списке могут быть показаны только избранные атрибуты.
        </p>
        <p>
            Кодовое имя <b>list</b> используется для представления объектов в списке.
            <br>
            Кодовое имя <b>create</b> используется для представления объекта при создании.
            <br>
            Кодовое имя <b>edit</b> используется для представления объекта при редактировании.
        </p>
    </div>
</div>

<div class="folder panel-default panel">
    <div class="panel-heading">
        <h4 class="panel-title">Навигация</h4>
    </div>
    <div class="panel-body">
        <p>
            Меню в боковой панели модуля <b>Офис</b> создается из секции навигации с кодовым названием <b>main</b>.
        </p>
    </div>
</div>